.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.purple {
    background: darkmagenta;
}
.purple-text {
    color: white;
}

.blue {
    background: #096dd9;
}
.blue-text {
    color: #000c17;
}